@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700)
@import 'https://fonts.googleapis.com/css?family=Lato'
@import 'https://fonts.googleapis.com/css?family=Titillium+Web'

$warning-color: #f00
$success-color: #5f5
$primary: #5757bc
$puple: #595984
$body-grey: #333
$body-light-grey: #555
$form-border-color: $body-light-grey

.warning
  color: $warning-color
.success
  color: $success-color


body, html
  padding: 0
  margin: 0
  // overflow: hidden

code
  background: #f9f9f9
  padding: 1px 3px
  border: 1px solid #E8E8E8
  border-radius: 0.2rem
  &.location
    color: #66FF66
  &.time
    color: #ff6666
  &.date
    color: #6666ff
  &.repeat
    color: #ffa566


[contenteditable=true]:empty:before
  content: attr(placeholder)
  display: block /* For Firefox */
  color: #bbb
  cursor: text


.tooltip.bottom > .tooltip-inner
  background-color: $body-grey
.tooltip.bottom > .tooltip-arrow
  border-bottom-color: $body-grey


#calendar
  visibility: hidden

.calendarContainer
  font-size: 24px
  font-family: 'Inconsolata', sans-serif


.calendar-list
  margin-top: 40px
  list-style: none
  padding: 0

.calendar-list-bullet
  display: inline-block
  width: 15px
  height: 15px
  border-radius: 3px

.calendar-list-bullet:hover
  cursor: pointer


.title-row
  font-size: 28px


.control-row
  background-color: #333333
  color: #dddddd


.control:hover
  cursor: pointer


.clndr-previous-button
  text-align: left

.current-month
  text-align: center

.clndr-next-button
  text-align: right


.header-day-row
  background-color: #cccccc


.schedule
  text-align: center
  padding: 0

.calendar-table
  width: 100%


.day
  text-align: center
  padding: 10px 20px 10px 20px


.event
  color: #129923
  font-weight: bold

.adjacent-month
  color: #888888



.agenda
  background-color: #cccccc
  /*height: 40vh*/


.event-listing-title
  text-align: center
  background-color: #012668
  color: white

.event-item-name
  font-weight: 700

.event-item-location
  font-weight: 400
  font-size: 20px


.flex-center
  display: flex
  justify-content: center
  align-items: center
  height: 100%

.absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


.form-container
  // font-family: 'Lato', sans-serif
  font-family: 'Titillium Web', sans-serif
  margin: 20px
  width: 600px
  height: 400px
  border: 15px solid $form-border-color
  overflow: visible
  position: relative
  transition: all 300ms ease-in-out
  transform-origin: center

  &:not(.collapsed)
    cursor: pointer

  .success
    @extend .absolute-center
    display: none
    font-size: 50vmin

  &.collapsed
    transform: scale(0.1)
    .success
      display: block
    div
      display: none
      visibility: hidden

  .module
    position: absolute
    display: none
    z-index: 5
    top: 0
    bottom: 0
    left: 0
    right: 0
    &.active
      display: block
      background-color: rgba(0,0,0,0.5)

    .module-container
      position: relative
      width: 100%
      height: 100%

  .cal-form-submit
    position: absolute
    @extend .flex-center
    z-index: 2
    top: 48%
    left: 50%
    border-radius: 100%
    width: 50px
    height: 50px
    margin: -25px 0 0 -25px
    background-color: $body-grey
    cursor: pointer
    transform: scale(0)
    transform-origin: center

    &.active
      background-color: saturate($primary, 20%)
      transition: all 300ms ease-in-out
      transform: scale(1)

    &:hover
      /*darken(#8f8fb4, 20%)*/
      background-color: lighten($body-grey, 10%)
    &.active:hover
      background-color: lighten(saturate($primary, 20%), 5%)
      transform: scale(1.1)

    i
      color: white


  .row
    height: 50%
    width: 100%
    max-width: 100%
    margin: 0

    .cal-form-buttons
      height: 100%
      vertical-align: middle
      padding: 0
      margin: 0
      border: 2px solid $form-border-color
      cursor: auto

      .row
        height: 50%


.what-button
  cursor: auto
  .what-button-text
    font-size: 24px
    max-width: 70%
    max-height: 80%
    line-height: 150%
    overflow-y: auto
    overflow-x: hidden
    &:focus
      outline: none


.form-times
  @extend .flex-center
  height: 100%
  padding: 0
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid $form-border-color
  font-size: 14px
  cursor: url('../img/finger.png'), auto
  &.startTime, &.endTime
    font-size: 20px

.with-button
  @extend .flex-center
  flex-flow: row wrap
  flex-wrap: wrap
  height: 100%
  font-size: 32px

  .with-button-node
    @extend .flex-center
    width: 25%
    height: 25%
    margin: 3% 5%
    cursor: pointer
    &.add
      font-size: 42px
      order: 6
      &:hover
        /*darken(#8f8fb4, 20%)*/
        color: lighten($body-grey, 10%)
    &.more
      font-size: 42px
      order: 5
    &.person
      border: 3px solid #4e4e8f
      border-radius: 100%
      background-repeat: no-repeat
      background-size: cover
    &.person1
      background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXBAAAAJDZkMWYzMTg2LTNlY2EtNGY2NS1hMTA2LWU3NTE2MGEzNTI1Nw.jpg')
    &.person2
      background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAdoAAAAJDcxNzJmY2JmLWU2NDktNDAzZS1iZGMyLWU4NjE1MTRkMWQ5Zg.jpg')
    &.person3
      background-image: url('https://media.licdn.com/media/p/8/000/24f/2cb/0552629.jpg')
    &.person4
      background-image: url('https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13185_10205520827774417_8458942004873631409_n.jpg?oh=048e70e523532ee11d11dc047e481e9f&oe=5815AC1A')



.where-button
  @extend .flex-center
  cursor: pointer
  background-position: center
  background-size: cover
  padding: 20px
  word-wrap:break-word
  i
    position: relative
    z-index: 3
    font-size: 42px
  &:hover
    i
      color: lighten($body-grey, 10%)

.where-button-text
  position: absolute

  z-index: 2
  word-wrap: break-word
  max-width: 90%
  height: auto

  font-size: 12px
  left: 50%
  padding: 5px 20px
  border-radius: 5px
  transform: translateX(-50%)
  text-align: center
  background-color: white

.color-module
  @extend .flex-center
  flex-flow: row wrap
  flex-wrap: wrap
  position: absolute
  width: 80%
  height: auto
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: white
  border-radius: 20px

  h2
    margin: 5% 20% 0% 20%
  .color-ball
    @extend .flex-center
    height: 50px
    width: 50px
    border-radius: 100%
    background-color: #3333ff
    margin: 3% 5%
    transition: transform 300ms ease-in-out

    i
      color: white
      display: none
    &:hover
      cursor: pointer
      transform: scale(1.2)
    &.selected
      i
        display: block
