@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

.calendarContainer{
  font-size: 24px;
  font-family: 'Inconsolata', sans-serif;
}

.title-row{
  font-size: 28px;
}

.control-row{
  background-color: #333333;
  color: #dddddd;
}

.control:hover{
  cursor: pointer;
}

.clndr-previous-button{
  text-align: left;
}
.current-month{
  text-align: center;
}
.clndr-next-button{
  text-align: right;
}

.header-day-row{
  background-color: #cccccc;
}

.schedule{
  text-align: center;
  padding: 0;
}
.calendar-table{
  width: 100%;
}

.day{
  text-align: center;
  padding: 10px 20px 10px 20px;
}

.event{
  color: #129923;
  font-weight: bold;
}
.adjacent-month{
  color: #888888;
}


.agenda{
  background-color: #cccccc;
  /*height: 40vh;*/
}

.event-listing-title{
  text-align: center;
  background-color: #012668;
  color: white;
}
.event-item-name{
  font-weight: 700;
}
.event-item-location{
  font-weight: 400;
  font-size: 20px;
}
