.calendar {

}

.weekRow {
  height: 100px;
  width: 100%;
}

.dateColumn {
  position: relative;
  display : inline-block;
  border-left: 4px solid grey;
  height: 100%;
  vertical-align: top;

  .header {
    text-align: left;
    padding-left: 7px;
  }
}

.calendarEvent {
  // position: absolute;
  border-radius: 3px;
  padding: 4px;
  margin: 4px;
  font-size: 12px;

  overflow-y: hidden;
  max-height: 30px;
}
